body, html {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stars{
  width:14px;
  height:15px;
  position:absolute;
  z-index:3;
}
.readContainer{
  position: absolute;
  left:10px;
  bottom: 10px;
  z-index: 1;
  & > *{
    display: inline-block;
    vertical-align: middle;
  }
}
.soundContainer{
  position: absolute;
  right:250px;
  top: 10px;
  z-index: 1;
  & > *{
    display: inline-block;
    vertical-align: middle;
  }
}
.chapter{
  text-decoration: underline;
  color:darkgreen;
}
.read, .sound{
  width: 48px;
  height: 48px;    
  &.play{    
    background-image: url("../img/play.svg");
  }
  &.pause{    
    background-image: url("../img/pause.svg");
  }
}
.bookControl{
  position: absolute;
  left:calc(25% - 44.5625px);
  top:0;
  z-index: 1;
  font-weight: bold;
  *{
    display: inline-block;
    vertical-align: middle;    
    color: white;
    font-size: 40px;    
  }
  input{
    width: 72px;
    color: #000;
    text-align: right;
    padding-right: 8px;
  }
}
#fairy{
    position: absolute;
    z-index: 2;
    width:22px;
    height:31px;
    background-image: url("../img/fairy.png");
    background-position: 0 0 ;
}
page{
  position: absolute;
  background: 0 0;
  width: calc(100% - 500px);
  height: calc(100% - 100px);
  top: 75px;
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 50px;
  padding-right: 450px;
  font-size: 18px;
  font-weight: bold;
  overflow-y: auto;
}
input[type="file"]{
    width:100%;
    height:100%;
    font-size: 200px;
    opacity:0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.styled-select {
   position: absolute;
   z-index: 1;
   top:5px;
   &.themeContainer{
    left:calc(50% - 120px);
   }
   &.bookContainer{
    left:5px;
   }
   background: url("../img/arrow.jpg") no-repeat right center;
   height: 34px;
   width: 240px;
   color: #000;
   overflow: hidden;   
}

.styled-select select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   background: transparent;
   text-transform: none;
   padding: 5px;
   color:white;
   option{
    background-color:black;
   }
}
.hide{
    display:none;
}
.background{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}